# 1. Dependency Utama di Root Proyek
/node_modules

# 2. Dependencies di Sub-proyek
/20230140146-node-server/node_modules
/20230140146-react-app/node_modules

# 3. Build/Cache/Log
/dist
/build
*.log
npm-debug.log*

# 4. File-file yang Sering Diabaikan (misalnya dari React/TS)
/20230140146-react-app/build
.env
.env.local
.vscode/